.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 100px 60px 80px;
  color: #ffffff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.list__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__item:first-child {
  margin-bottom: 16px;
}

.footer__logo {
  width: 153px;
  height: 32px;
  margin: 0;
}

.footer__social-heading {
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.footer__social-icon {
  margin: 0;
  margin-right: 10px;
}

.footer__social-link {
  text-decoration: none;
  color: #ffffff;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  padding-top: 108px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width:768px){
.footer{
    padding: 30px 50px 30px 50px;
}
}

@media screen and (max-width:320px){
    .footer{
        padding: 20px 15px 20px 15px;
    }

    .footer__logo {
        width: 80px;
        height: 32px;
        margin: 0;
      }

      .footer__social-heading {
        font-size: 12px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 20px;
      }

      .footer__list {
        font-size: 12px;
        line-height: 16px;
      }

      .list__item:first-child {
        margin-bottom: 8px;
      }

      .footer__copyright {
        padding-top: 50px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
      }

    }

    @media screen and (min-width:321px) and (max-width:767px){
        .footer__logo {
            width: 80px;
            height: 32px;
            margin: 0;
          }
    
          .footer__social-heading {
            font-size: 12px;
            line-height: 32px;
            margin: 0;
            margin-bottom: 20px;
          }
    
          .footer__list {
            font-size: 12px;
            line-height: 16px;
          }
    
          .list__item:first-child {
            margin-bottom: 8px;
          }
    
          .footer__copyright {
            padding-top: 50px;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
          }
    
        }
    
    }

    

